
<section class="events-section">
    <h1>Meus Eventos</h1>
    <div class="events-grid">
        <div class="event-card" *ngFor="let event of events">
            <div class="event-date">
                <h2>{{ getDay(event.date_time_start) }}</h2>
                <p>{{ getMonthName(event.date_time_start) }}</p>
            </div>
            <div class="event-info">
                <h3>{{ event.name }}</h3>
                <p>{{ event.date_time_start }} — {{ event.date_time_end }}
                    <br>  <i class="fa-solid fa-location-dot"></i> {{ event.location }}
                </p>
                <div class="event-buttons">
                    <button class="edit-btn" (click)="goToUpdateEvent(event.id)">Editar Evento</button>
                    <button class="delete-btn" (click)="deleteEvent(event.id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</section>