
  /* Top Navigation */
  .top-nav {
    width: 100%;
    background-color: #3f51b5;
    background: linear-gradient(135deg, #3f51b5, #7643a7);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-toggle {
    cursor: pointer;
    font-size: 18px;
  }
  
  .top-menu-right span {
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .top-menu-right i {
    margin-right: 5px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 250px;
    background: linear-gradient(135deg, #3B82F6, #A855F7);
    color: white;
    padding-top: 20px;
    height: 100%;
  }
  
  .sidebar-menu {
    list-style-type: none;
  }
  
  .sidebar-menu li {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar-menu li:hover {
    background-color: #3949ab;
  }
  
  .sidebar-menu i {
    margin-right: 10px;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
  }
  .nav-link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .nav-link:hover {
    color: #007bff; /* Changes color on hover */
  }

  /* Forms */

  /* Para garantir que o formulário ocupe 100% da largura da página */
  .events-container {
    width: 100%;
    max-width: 100%; /* Remove limites de largura máxima */
    padding: 0 30px; /* Adiciona espaçamento lateral, opcional */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura */
    overflow-y: scroll;
    height: 100%;
  }

  .event-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      width: 100%;
  }

  .event-field {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #3B82F6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

  .submit-btn:hover {
      background-color: #2563EB;
  }

  /* Error Message Styling */
.error {
  color: #f44336;
  background-color: #fdecea;
  border: 1px solid #f44336;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.field-validation{
  color: #f44336;
  background-color: #fdecea;
  border: 1px solid #f44336;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;  /* Força o label a ocupar a linha inteira */
  margin-bottom: 5px;  /* Espaçamento entre o label e o checkbox */
}

.input-group input:not([type="checkbox"]), input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

  /* Eventos Cards */
  
  .events-section {
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura */
    overflow-y: scroll;
    height: 100%;
    padding: 0 30px;
  }

  h1 {
      text-align: center;
      margin: 20px 0;
      color: #333;
  }

  .events-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .event-card {
      background-color: #f0f4fa;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .featured {
      background-color: #4a6fe5;
      color: white;
  }

  .event-date h2 {
      font-size: 48px;
      margin: 0;
  }

  .event-date p {
      font-size: 18px;
      margin-top: 5px;
  }

  .event-info h3 {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  .event-info p {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
  }

  .event-buttons {
      display: flex;
      justify-content:right;
  }

  .details-btn,
  .delete-btn,
  .edit-btn {
      margin-left: 10px;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .details-btn {
      background-color: #4a6fe5;
      color: white;
  }

  .delete-btn {
      background-color: #ff4a4a;
      color: white;
  }

  .edit-btn {
    background-color: #7643a7;
    color: white;
  }

  .delete-event-btn {
    margin-top: 30px; /* Aumenta o espaço acima do botão */
    padding: 10px 15px;
    background-color: #ff4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte do botão */
  }

  .delete-event-btn:hover {
      background-color: #e43e3e; /* Cor de fundo ao passar o mouse */
  }

  .delete-btn:hover {
      background-color: #e43e3e;
  }

  .edit-btn:hover {
    background-color: #8965ab;
  }

  .details-btn:hover {
      background-color: #3a5dc7;
  }

  .event-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 80%;
    margin: 20px auto;
    font-size: 18px; /* Aumenta o tamanho da fonte */
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
  }

  strong {
      color: #1c1c1c;
  }

  /* Adiciona espaçamento inferior a cada detalhe */
  .event-details div {
      margin-bottom: 10px; /* Ajuste o valor conforme necessário */
  }

  /* Event Details Section */

  .event-details-container {
    width: 90%;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .event-detail-item {
    display: flex;
    gap: 3px;
    flex-basis: 48%;
    justify-content: space-between;
    align-items:center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .event-detail-item strong {
    font-size: 16px;
    color: #333;
    width: auto;
  }
  
  .event-detail-item p {
    font-size: 16px;
    margin: 0;
    width: 50%;
    text-align: right;
  }
  
  .event-detail-item .code {
    background-color: #e6f0ff;
    color: #0066ff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .event-detail-item .date-time {
    color: #007bff;
    background-color: #e6f0ff;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .event-detail-item .price {
    color: #125900;
    background-color: #ebffe6;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }

  .event-detail-item .icon {
    margin-right: 5px;
  }
  
  .event-detail-item .status {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .event-detail-item .approved {
    color: #fff;
    background-color: #28a745;
  }  

  /* Responsividade para telas menores */
  @media screen and (max-width: 768px) {
    .event-detail {
      flex-basis: 100%;
    }

    .event-details-container {
      padding: 10px;
    }
  }

  /* Responsividade para telas pequenas */
  @media screen and (max-width: 480px) {
    .detail-label {
      font-size: 14px;
    }

    .detail-value {
      font-size: 14px;
    }

    .icon {
      font-size: 14px;
    }
  }

  /* Participant Section */

  .checkbox {
    position: relative;
    width: 5px;  /* Largura reduzida */
    height: 5px;  /* Altura reduzida */
    cursor: pointer;
    appearance: none;
    border: 2px solid #007bff;
    border-radius: 3px;  /* Cantos arredondados menores */
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .checkbox:checked {
    background-color: #007bff;
  }
  
  .checkbox:checked::after {
    content: '✔';
    position: absolute;
    font-size: 14px;
    color: white;
    top: 2px;
    left: 4px;
  }

  /* Main container for the layout */
  .inner-container {
    width: 90%;
    margin: 20px, 0px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;  /* Added rounded corners */
    font-family: Arial, sans-serif;
    overflow: hidden;  /* Ensures inner elements respect the border-radius */
  }

/* Scrollable content section */
.content {
  height: 450px;
  overflow-y: auto;
  padding: 10px;
}

/* Styling each item in the list */
.item {
  border: 1px solid #d9d9d9;
  border-radius: 10px;  /* Added rounded corners */
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Highlight the selected item */
.item.selected {
  background: linear-gradient(135deg, #3B82F6, #A855F7);
  color: white;
}

.item-details p {
  margin: 2px 0;
  justify-content: space-between;
}

.badge-success {
  background-color:  #28a745;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.badge-fail {
  background-color: #dc3545;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

/* Footer with buttons */
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 10px;
}

.ok-button, .cancel-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
}

.ok-button {
  background-color: #28a745;
}

.cancel-button {
  background-color: #dc3545;
}

  /* Responsive Design */

  @media (max-width: 1150px) {
    .events-grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }  

  @media (max-width: 950px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      display: none;
    }
  
    .sidebar.active {
      display: block;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .main-content {
      padding: 15px;
    }

    .events-grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 880px) {
    .events-grid{
      grid-template-columns: repeat(2, 1fr);
    }

    h1 {
      font-size: 42px;
    }
  }
  
  @media (max-width: 660px) {
    .event-form {
      grid-template-columns: 1fr;
      gap: 10px;
      width: 100%;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 38px;
    }

    .events-grid{
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 480px) {
    .top-menu-right span {
      font-size: 14px;
      margin-left: 10px;
    }
  
    .sidebar-menu li {
      font-size: 14px;
      padding: 10px;
    }

    h2 {
      font-size: 30px;
    }

    h1 {
      font-size: 32px;
    }
  }
  
  /* Toggle sidebar */
  .menu-toggle.active + .sidebar {
    display: block;
  }
  