<!DOCTYPE html>
<html lang="en">
<body>
    <div class="login-container">
        <form class="login-form" [formGroup]="authForm" (ngSubmit)="loginUser()">
            <h2>EVENT MANAGER APP</h2>
            <p>Faça login usando suas credenciais</p>
            <!-- Display error message if login fails -->
            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            
            <div class="input-group">
                <input id="username" [(ngModel)]="user.username" formControlName="username" type="text" placeholder="Utilizador" required>
                <div *ngIf="authForm.get('username')?.touched && authForm.get('username')?.invalid">  
                    <div class="field-validation" *ngIf="authForm.get('username')?.errors?.['required']">O nome de utilizador é obrigatório.</div>  
                    <div class="field-validation" *ngIf="authForm.get('username')?.errors?.['minlength']">O nome de utilizador deve ter pelo menos 3 caracteres.</div>  
                    <div class="field-validation" *ngIf="authForm.get('username')?.errors?.['maxLength']">O nome de utilizador deve ter no máximo 50 caracteres.</div>  
                </div> 
            </div>
            <div class="input-group">
                <input id="password" [(ngModel)]="user.password" formControlName="password" type="password" placeholder="Senha" required>
                <div *ngIf="authForm.get('password')?.touched && authForm.get('password')?.invalid">  
                    <div class="field-validation" *ngIf="authForm.get('password')?.errors?.['required']">A senha é obrigatória.</div>  
                    <div class="field-validation" *ngIf="authForm.get('password')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</div>  
                  </div>  
            </div>
            <button type="submit" class="login-btn">Login</button>
            <div class="signup-link">
                <p>Ainda não tem conta? <a [routerLink]="['/signup']">Cadastre-se</a></p>
            </div>
        </form>
    </div>
</body>
</html>
