<aside class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a class="nav-link" routerLink="/events"><i class="fa-solid fa-list"></i> Eventos</a> 
      </li>
      <li>
        <a class="nav-link" routerLink="user-events">
          <i class="fa-solid fa-calendar-day"></i> Meus Eventos
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="create">
          <i class="fa-solid fa-calendar-days"></i> Criar Evento
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="participants/user-participants">
          <i class="fa-solid fa-calendar-check"></i> Minhas Participações
        </a>
      </li>
    </ul>
</aside>
  